
/* CSS by Matt Oakes */

html {
  background-color: lightgreen;
}

h5 {
  text-align: center;
}

.big-container {
  max-width: 95%;
  /* background-color: white; */
  padding: 20px;
  margin: 30px;
  
}

.travel-ref-column {
  width: 33%;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
  margin: auto;
}


.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
