
/* CSS by Matt Oakes */

html {
  background-color: lightgrey;
}

h5 {
/*   text-align: center;
 */}

.big-container {
  max-width: 100%;
  padding: 20px;
  margin: 30px;
  
}

.travel-ref-column {
  width: 33%;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .big-container,
  .travel-ref-column {
    width: auto;
    float: none;
  }
}

@media screen and (max-width: 480px) {
  .big-container,
  .travel-ref-column {
    width: auto;
    float: none;
  }
}


.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}









